html {
	width: 100%;
	height: 100%;
}

body {
	width: auto;
	height: auto;
	background: #FFFFE0;
}

.button {
	border: 1px solid #000000;
	background: linear-gradient(#6383a8, #435388);
    color: white;
	padding: 2px;
	display: inline-block;
	border-radius: 5px 0px 5px 0px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}

.input-submit {
	height: 24px;
}

.right-margin {
	margin-right: 5px;
}

.center-body {
	width: 810px;
	height: auto;
	text-align: left;
}

.button:hover {
    background: linear-gradient(#012D69, #012D69); /* меняет цвет при наведении  */
    color: white;
}

.button:active {
    background: linear-gradient(#008F4C, #203F2C); /* меняет цвет при нажатии  */
    color: white;
}

.menu-link { 
    text-decoration: none; /* отмена декораций ссылки */
    font-size: 20px;
}

.main-link {
	width: auto;
	margin-bottom: 10px;
	height: 20px;
}

.title {
	font-size: 30px;
	width: auto;
	margin-bottom: 30px;
	background: #888888;
	border: 3px solid #000000;
	padding-left: 10px;
	border-radius: 7px;
	background-image: linear-gradient(#7fff00, #66cd00);
}

.menu-item-title {
	margin-bottom: 5px;
	width: auto;
	height: 40px;
	font-size: 24px;
	background-image: linear-gradient(#54ff9f, #43cd80);
	border: 2px solid #000000;
	padding-left: 10px;
	border-radius: 5px;
	padding-top: 15px;
}

.menu-item {
	margin-bottom: 10px;
	width: auto;
	height: 40px;
	background-image: linear-gradient(#F0FEFF, #D0DEE7);
	color: black;
	border: 1px solid #000000;
	padding-left: 10px;
	border-radius: 30px 0px 30px 0px;
	padding-top: 15px;
}

.menu-item-product {
	margin-bottom: 10px;
	width: auto;
	min-height: 40px;
	background: #DDDDDD;
	background-image: linear-gradient(#F0FEFF, #D0DEE7);
	color: black;
	font-size: 20px;
	border: 1px solid #000000;
	padding-left: 10px;
	border-radius: 3px;
	padding-top: 15px;
}

.menu-item:hover {
    background: linear-gradient(#6383a8, #435388);
    color: white;
}

.menu-item:active {
    background: linear-gradient(#408861, #006621);
}
 
.menu-item-name {
	width: 600px;
	display: inline-block;
}

.menu-item-count {
	width: auto;
	display: inline-block;
}

.menu-item-product-name {
	width: 200px;
	display: inline-block;
	border: 0px;
}

.menu-item-product-provider {
	width: 170px;
	display: inline-block;
	border: 0px;
}

.menu-item-product-model {
	width: 70px;
	display: inline-block;
	border: 0px;
}

.menu-item-product-date-of-issue {
	width: 140px;
	display: inline-block;
	border: 0px;
}

.menu-item-product-color {
	width: 70px;
	display: inline-block;
	border: 0px;
}

.menu-item-product-not-in-stock {
	width: 140px;
	display: inline-block;
	border: 0px;
}

.menu-item-product-price {
	width: auto;
	display: inline-block;
	border: 0px;
}

.menu-value-product-name {
	width: 200px;
	display: inline-block;
	border: 0px;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.menu-value-product-provider {
	width: 170px;
	display: inline-block;
	border: 0px;
	margin-left: 3px;
	word-wrap: break-word;
}

.menu-value-product-model {
	width: 70px;
	display: inline-block;
	border: 0px;
	margin-left: 3px;
}

.menu-value-product-date-of-issue {
	width: 140px;
	display: inline-block;
	border: 0px;
	margin-left: 2px;
}

.menu-value-product-color {
	width: 70px;
	display: inline-block;
	border: 0px;
	margin-left: 3px;
	word-wrap: break-word;
}

.menu-value-product-not-in-stock {
	width: 135px;
	display: inline-block;
	border: 0px;
	margin-left: 2px;
	word-wrap: break-word;
}

.chek-box-not-in-stock {
	margin-left: 55px;
}

.menu-value-product-price {
	width: 100px;
	display: inline-block;
	border: 0px;
	margin-left: 0px;
	word-wrap: break-word;
}

.button-link {
	display: inline-block;
	float: right;
	text-decoration: none;
	border: 0px;
	margin-top: 0px;
}

.back-button-link {
	display: inline-block;
	text-decoration: none;
	border: 0px;
	margin-top: 0px;
}

.adding-title {
	display: inline-block;
	width: 95px;
	font-size: 16px;
}

.inline {
	display: inline-block;
	float: left;
}

.adding-field {
	display: inline-block;
	width: auto;
}

.adding-field-input {
	width: 200px;
	background: #FFFACD;
	border-radius: 4px;
	font-size: 16px;
}

.editing-name-input {
	background: #FFFACD;
	border-radius: 4px;
	font-size: 16px;
	margin-left: 3px;
	width: 190px;
}

.editing-provider-input {
	background: #FFFACD;
	border-radius: 4px;
	font-size: 16px;
	width: 160px;
}

.editing-model-input {
	background: #FFFACD;
	border-radius: 4px;
	font-size: 16px;
	width: 60px;
}

.editing-date-of-issue-input {
	background: #FFFACD;
	border-radius: 4px;
	font-size: 16px;
	width: 125px;
}

.editing-color-input {
	background: #FFFACD;
	border-radius: 4px;
	font-size: 16px;
	margin-left: -5px;
	width: 60px;
}

.editing-price-input {
	background: #FFFACD;
	border-radius: 4px;
	font-size: 16px;
	margin-left: -2px;
	width: 95px;
}

.adding-field-input:FOCUS {
	border-color: #66AFE9;
	box-shadow: inset 0 1px 1px rgba(102, 175, 233, 0.6);
}

.adding-button-input {
	width: 200px;
}

.warning-message {
	color: red;
	display: inline-block;
	margin-left: 5px;
}

.simple-text {
	color: black;
	display: inline-block;
	margin-left: 5px;
}

.check-box {
	background: #FFFACD;
	width: 15px;
	height: 15px;
}

.error-message {
	color: red;
}