html {
	height: 100%;
	width: 100%;
}

body {
	height: auto;
	width: auto;
}

a {
	color: blue;
}

a:ACTIVE {
	color: orange;
}

td {
	padding: 0px;
	vertical-align: top;
	text-align: left;
}

form {
	display: inline;
}

.header {
	background: #FFFFFF;
	border: 2px solid #000000;
	height: 80px;
	top: 0px;
	left: 5px;
	right: 5px;
	position: fixed;
}

.footer {
	background: #FFFFFF;
	border: 2px solid #000000;
	margin-top: 25px;
	left: 5px;
	right: 5px;
	bottom: 0px;
	position: fixed;
}

.body {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	top: 0px;
	left: 5px;
	right: 5px;
	bottom: 0px;
	position: fixed;
}

.news-block {
	border: 2px solid #E0E0E0;
	top: 100px;
	left: 245px;
	right: 15px;
	position: absolute;
}

.title {
	margin-left: 30px;
	text-align: left;
	margin-top: 25px;
}

.language {
	margin-left: 10px;
}

.language-container {
	float: right;
	height: 20px;
	margin-top: -20px;
	margin-right: 30px;
}

.menu {
	background: #C0C0C0;
	width: 220px;
	top: 95px;
	position: fixed;
	height: 160px;
	margin: 5px;
}

.menu-title {
	background: #808080;
	height: 26px;
	margin-left: 10px;
	margin-top: 10px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 7px;
}

.menu-items {
	height: 90px;
	background: #FFFFFF;
	margin-left: 30px;
	margin-right: 5px;
	margin-top: 5px;
}

.menu-table {
	float: right;
	width: 100%;
	margin-top: 10px;
}

.menu-table-first {
	width: 49px;
}

.bodynews {
	display: inline;
	left: 300px;
	height: auto;
}

.button {
	width: 130px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.under-footer {
	height: 40px;
	width: 100px;
	position: absolute;
}

.list-news-title {
	text-align: justify;
	width: auto;
}

.list-news-date {
	width: 230px;
	text-align: right;
	padding-right: 30px;
}

.list-component {
	float: right;
	margin-right: 20px;
}

.list-news-brief {
	word-wrap: break-word;
	text-align: justify;
	padding-right: 60px;
	height: 80px;
	max-width: 594px;
}

.list-news-brief {
	overflow: hidden;
}

.list-news-header {
	margin-left: 15px;
	margin-top: 15px;
}

.list-row {
	width: auto;
}

.list-news-table {
	margin-left: 30px;
	margin-top: 30px;
	width: 96%;
	min-height: 1024px;
}

.list-news-item {
	vertical-align: top;
}

.bottom-panel {
	margin-top: 0px;
	margin-bottom: 80px;
	min-width: 260px;
}

.view-edit-row {
	height: 60px;
	float: right;
}

.delete-div {
	width: 100%;
	height: 26px;
}

.delete-button {
	float: right;
	margin-right: 40px;
	vertical-align: top;
}

.add-news-table {
	margin-left: 30px;
	margin-top: 30px;
	float: left;
	width: 96%;
	
}

.add-news-first {
	width: 140px;
	height: 40px;
}

.news-title {
	width: 500px;
}

.news-date {
	width: 150px;
}

.news-brief {
	width: 530px;
	height: 120px;
}

.news-content {
	width: 530px;
	height: 180px;
}

.view-news-table {
	margin-left: 30px;
	margin-top: 30px;
}

.row-title {
	
}

.row-date {
	height: 40px;
}

.row-brief {
	height: 150px;
}

.row-content {
	height: 250px;
}

.row-save-cancel {
	height: 250px;
}

.edit-delete {
	margin-top: 10px;
	width: 100%;
	height: 26px;
}

.edit-button {
	float: right;
	vertical-align: top;
}

.news-list-title {
	width: 600px;
	text-align: justify;
	padding-bottom: 20px;
}

.news-list-date {
	width: 600px;
	margin-top: 100px;
	text-align: justify;
}

.news-list-brief {
	width: 600px;
	text-align: justify;
	word-wrap: break-word;
}

.news-list-content {
	width: 600px;
	text-align: justify;
}